# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual environments
# -----------------------------
venv/
env/

# -----------------------------
# Database
# -----------------------------
*.sqlite3

# -----------------------------
# Environment secrets
# -----------------------------
.env

# -----------------------------
# Static files (production)
# -----------------------------
staticfiles/

# -----------------------------
# Media uploads
# -----------------------------
media/

# -----------------------------
# Backups
# -----------------------------
backups/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/