{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4 fw-semibold">Add Member</h2>

<div class="glass-card col-md-6">

    <!-- SHOW FORM ERRORS -->
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Form Errors:</strong>
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ field.label }} : {{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Name</label>
            {{ form.name }}
        </div>

        <div class="mb-3">
            <label>Country Code</label>
            {{ form.country_code }}
        </div>

        <div class="mb-3">
            <label>Phone</label>
            {{ form.phone }}
        </div>

        <div class="mb-3">
            <label class="form-label">Joining Date</label>
            {{ form.join_date}}
        </div>
        

        <button type="submit" class="btn-modern">
            Save Member
        </button>
    </form>

</div>

{% endblock %}
